.container, header .container .logo, header .container .topmenu, header .container .topmenu li, footer .container .clients, section.view-holder .view .home .monitor .container .slide-holder .slider .move {
  *zoom: 1; }
  .container:before, header .container .logo:before, header .container .topmenu:before, header .container .topmenu li:before, footer .container .clients:before, section.view-holder .view .home .monitor .container .slide-holder .slider .move:before, .container:after, header .container .logo:after, header .container .topmenu:after, header .container .topmenu li:after, footer .container .clients:after, section.view-holder .view .home .monitor .container .slide-holder .slider .move:after {
    content: " ";
    display: table; }
  .container:after, header .container .logo:after, header .container .topmenu:after, header .container .topmenu li:after, footer .container .clients:after, section.view-holder .view .home .monitor .container .slide-holder .slider .move:after {
    clear: both; }

/*STICKY FOOTER*/
.wrapper {
  min-height: 100%;
  margin: 0 auto -548px; }
  @media only screen and (min-width: 601px) {
    .wrapper {
      margin-bottom: -303px; } }

footer, .push {
  height: 548px; }
  @media only screen and (min-width: 601px) {
    footer, .push {
      height: 303px; } }

/*GENERIC STYLES*/
body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  min-width: 300px;
  padding: 0 15px; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 94%; } }
  @media only screen and (min-width: 990px) {
    .container {
      width: 60%; } }

/*HEADER*/
header {
  background-color: #000;
  border-bottom: 2px solid #fff;
  color: #eee; }
  header .container {
    padding: 0 15px 5px; }
    header .container .logo {
      position: relative; }
      @media only screen and (min-width: 990px) {
        header .container .logo {
          float: left;
          width: 44%; } }
      header .container .logo a {
        float: left;
        color: #eee;
        margin-top: 25px;
        font-weight: bold; }
      header .container .logo .lower {
        margin: 60px 0 0 10px; }
      header .container .logo button {
        position: absolute;
        top: 10px;
        right: 0;
        border: 2px solid #fff;
        color: #fff;
        background-color: #000;
        outline: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all; }
        header .container .logo button:hover {
          opacity: 0.8;
          filter: alpha(opacity=80); }
        @media only screen and (min-width: 601px) {
          header .container .logo button {
            display: none; } }
    @media only screen and (min-width: 990px) {
      header .container .topmenu {
        float: left;
        width: 56%; } }
    header .container .topmenu li {
      float: left;
      width: 100%;
      position: relative; }
      @media only screen and (min-width: 601px) {
        header .container .topmenu li {
          width: 20%;
          margin-top: 10px; } }
      @media only screen and (min-width: 990px) {
        header .container .topmenu li {
          margin-top: 57px; } }
      header .container .topmenu li a {
        display: block;
        width: 100%;
        color: #eee;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 3px 0;
        -webkit-transition: 0.4s ease all;
        -moz-transition: 0.4s ease all;
        -ms-transition: 0.4s ease all;
        -o-transition: 0.4s ease all;
        transition: 0.4s ease all; }
        @media only screen and (min-width: 601px) {
          header .container .topmenu li a {
            border: none; } }
        header .container .topmenu li a:hover {
          color: #D52B1E; }
      header .container .topmenu li button {
        position: absolute;
        top: 0;
        right: 0;
        height: 27px;
        color: #fff;
        border: 0px solid #000;
        background-color: #000;
        outline: none; }
        @media only screen and (min-width: 601px) {
          header .container .topmenu li button {
            display: none; } }
      header .container .topmenu li ul {
        display: none; }
        @media only screen and (min-width: 601px) {
          header .container .topmenu li ul {
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;
            transition: 0.5s ease all;
            display: block; } }
        header .container .topmenu li ul li {
          width: 100%;
          margin-top: 0; }
      header .container .topmenu li:hover ul {
        opacity: 1;
        filter: alpha(opacity=100); }

/*FOOTER*/
footer {
  background-color: #000;
  border-top: 2px solid #D52B1E;
  color: #eee; }
  footer .container {
    padding: 0 15px 15px; }
    @media only screen and (min-width: 601px) {
      footer .container .address, footer .container .clients {
        width: 50%;
        float: left; } }
    footer .container .address a:hover, footer .container .clients a:hover {
      opacity: 0.6;
      filter: alpha(opacity=60); }
    footer .container .clients div {
      width: 275px; }
      @media only screen and (min-width: 601px) {
        footer .container .clients div {
          float: right; } }
      @media only screen and (min-width: 800px) {
        footer .container .clients div {
          width: 360px; } }
      @media only screen and (min-width: 990px) {
        footer .container .clients div {
          width: 275px; } }
      @media only screen and (min-width: 1300px) {
        footer .container .clients div {
          width: 360px; } }
    footer .container .clients a.hide {
      display: none; }
      @media only screen and (min-width: 800px) {
        footer .container .clients a.hide {
          display: inline-block; } }
      @media only screen and (min-width: 990px) {
        footer .container .clients a.hide {
          display: none; } }
      @media only screen and (min-width: 1300px) {
        footer .container .clients a.hide {
          display: inline-block; } }
  footer .btm-line {
    background-color: #404040;
    padding: 7px 0; }
    footer .btm-line .container {
      padding: 0 15px; }
      footer .btm-line .container p {
        text-align: center;
        margin: 0;
        font-size: 80%; }

/*PARTIALS*/
section.view-holder {
  position: relative; }
  section.view-holder .view.ng-enter, section.view-holder .view.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  section.view-holder .view.ng-enter {
    -webkit-transition: 0.95s ease all;
    -moz-transition: 0.95s ease all;
    -ms-transition: 0.95s ease all;
    -o-transition: 0.95s ease all;
    transition: 0.95s ease all;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 100; }
  section.view-holder .view.ng-enter.ng-enter-active {
    opacity: 1;
    filter: alpha(opacity=100); }
  section.view-holder .view.ng-leave {
    -webkit-transition: 0.95s ease all;
    -moz-transition: 0.95s ease all;
    -ms-transition: 0.95s ease all;
    -o-transition: 0.95s ease all;
    transition: 0.95s ease all;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 99; }
  section.view-holder .view.ng-leave.ng-leave-active {
    opacity: 0;
    filter: alpha(opacity=0); }
  section.view-holder .view .home {
    background-color: #FFFFB9; }
    section.view-holder .view .home .monitor {
      background-color: #D52B1E; }
      section.view-holder .view .home .monitor .container {
        padding-top: 5px; }
        @media only screen and (min-width: 601px) {
          section.view-holder .view .home .monitor .container {
            padding-top: 50px; } }
        section.view-holder .view .home .monitor .container .slide-holder {
          width: 100%;
          margin: 0 auto;
          padding: 17px 18px 80px;
          background: url(../images/monitor.png) no-repeat 0 0;
          background-size: 100% 100%; }
          @media only screen and (min-width: 400px) {
            section.view-holder .view .home .monitor .container .slide-holder {
              width: 90%; } }
          @media only screen and (min-width: 601px) {
            section.view-holder .view .home .monitor .container .slide-holder {
              width: 50%;
              float: left; } }
          @media only screen and (min-width: 990px) {
            section.view-holder .view .home .monitor .container .slide-holder {
              width: 40%; } }
          section.view-holder .view .home .monitor .container .slide-holder .slider {
            width: 100%;
            overflow: hidden; }
            section.view-holder .view .home .monitor .container .slide-holder .slider .move {
              width: 500%;
              margin: 0; }
              section.view-holder .view .home .monitor .container .slide-holder .slider .move img {
                float: left;
                width: 20%;
                height: auto; }
        section.view-holder .view .home .monitor .container .heading {
          padding: 10px 0 20px;
          text-align: center;
          color: #eee; }
          @media only screen and (min-width: 601px) {
            section.view-holder .view .home .monitor .container .heading {
              width: 50%;
              float: right;
              padding-left: 40px;
              text-align: left; } }
          @media only screen and (min-width: 990px) {
            section.view-holder .view .home .monitor .container .heading {
              width: 60%; } }
          @media only screen and (min-width: 1300px) {
            section.view-holder .view .home .monitor .container .heading {
              padding-left: 80px; } }
          section.view-holder .view .home .monitor .container .heading h1 {
            margin-top: 0;
            font-weight: bold; }
            @media only screen and (min-width: 601px) {
              section.view-holder .view .home .monitor .container .heading h1 {
                font-size: 42px;
                margin-bottom: 40px; } }
            @media only screen and (min-width: 1300px) {
              section.view-holder .view .home .monitor .container .heading h1 {
                font-size: 48px; } }
          section.view-holder .view .home .monitor .container .heading a {
            color: #eee;
            padding: 10px 20px;
            background-color: #000;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;
            transition: 0.5s ease all; }
            section.view-holder .view .home .monitor .container .heading a:hover {
              background-color: #fff;
              color: #000; }
  section.view-holder .view .services {
    background-color: #D0E69C; }
  section.view-holder .view .work {
    background-color: #80CBC4; }
  section.view-holder .view .about {
    background-color: #FFCC80; }
  section.view-holder .view .contacts {
    background-color: #BCAAA4; }
  section.view-holder .view .blog {
    background-color: #C5CAE9; }
