@import "mixins.scss";

/*STICKY FOOTER*/
.wrapper {
	min-height: 100%;
	margin: 0 auto -548px;
	@include bp-medium {margin-bottom:-303px;} 
}
footer, .push {
	height: 548px;
	@include bp-medium {height:303px;}  
}

/*GENERIC STYLES*/
body {overflow-x:hidden;}//super-duper-mega important!!! FINALLY! ^_^
a {text-decoration: none;}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	font-size:80%;
}
.container {
	@extend %clearfix;
	min-width:300px;
	//max-width: 860px;
	@include bp-medium {width:94%;}
	@include bp-large {width:60%;}
	padding:0 15px;
}

/*HEADER*/
header {
	background-color: #000;
	border-bottom:2px solid #fff;
	color: #eee;
	//Dynamic content styles:
	.container {
		padding:0 15px 5px;
		.logo {
			position:relative;
			@extend %clearfix;
			@include bp-large {
				float:left;
				width: 44%;
			}
			a {
				float:left;
				color: #eee;
				margin-top: 25px;
				font-weight: bold;
			}
			.lower {
				margin: 60px 0 0 10px;
			}
			button {
				position: absolute;
				top:10px;
				right:0;
				border:2px solid #fff;
				color:#fff;
				background-color:#000;
				outline: none;
				@include border-radius;
				@include transition(.2s ease all);
				&:hover{@include opacity(0.80);}
				@include bp-medium {display:none;}
			}
		}
		.topmenu {
			@extend %clearfix;
			@include bp-large {
				float:left;
				width: 56%;
			}
			li {
				@extend %clearfix;
				float:left;
				width:100%;
				position:relative;
				@include bp-medium {
					width:20%;
					margin-top: 10px;
				}
				@include bp-large {margin-top:57px}
				a {
					display: block;
					width:100%;
					color: #eee;
					text-align: center;
					border-bottom:1px solid #eee;
					padding:3px 0;
					@include transition(.4s ease all);
					@include bp-medium{border:none;}
					&:hover {
						color:#D52B1E;
					}
				}
				button {
					position:absolute;
					top:0;
					right:0;
					height: 27px;
					color:#fff;
					border:0px solid #000;
					background-color:#000;
					outline: none;
					@include bp-medium{
						display: none;
					}
				}
				ul {
					display: none;
					@include bp-medium {
						@include opacity(0);
						@include transition(.5s ease all);
						display: block;
					}
					li {
						width:100%;
						margin-top:0;
					}
				}
				&:hover ul {
					@include opacity(1);
				}
			}
		}
	}
}

/*FOOTER*/
footer {
	background-color: #000;
	border-top:2px solid #D52B1E;
	color: #eee;
	.container {
		padding: 0 15px 15px;
		.address, .clients {
			@include bp-medium {
				width:50%;
				float:left;
			}
			a { &:hover {@include opacity(0.6)} }
		}
		.clients {
			@extend %clearfix;
			div {
				width:275px;
				@include bp-medium {float:right;}
				@include bp-xmedium {width:360px;}
				@include bp-large {width:275px;}
				@include bp-xlarge {width:360px;}
			}
			a.hide {
				display:none;
				@include bp-xmedium {display:inline-block;}
				@include bp-large {display:none;}
				@include bp-xlarge {display:inline-block;}
			}
		}
	}
	.btm-line {
		background-color: #404040;
		padding:7px 0;
		.container {
			padding: 0 15px;
			p {
				text-align: center;
				margin:0;
				font-size: 80%;
			}
		}
	}
}

/*PARTIALS*/

section.view-holder {
	position:relative;
	//Angular animation:
	.view.ng-enter, .view.ng-leave {
		//exist only during transition of animation cycle:
		position:absolute;
		top:0;
		left:0;
		right:0;
	}
	.view.ng-enter {
		@include transition(.95s ease all);
		//@include transform(translateX(100%));
		@include opacity(0);
		z-index: 100;
	}
	.view.ng-enter.ng-enter-active {
		//@include transform(translateX(0%));
		@include opacity(1);
	}
	.view.ng-leave {
		@include transition(.95s ease all);
		//@include transform(translateX(0%));
		@include opacity(1);
		z-index: 99;
	}
	.view.ng-leave.ng-leave-active {
		//@include transform(translateX(-100%));
		@include opacity(0);
	}
	//End of Angular's animation

	.view {
		.home {
			.monitor {
				background-color:#D52B1E;
				.container {
					padding-top:5px;
					@include bp-medium {padding-top:50px;}
					//outline: 1px solid green;
					.slide-holder {
						width: 100%;
						margin: 0 auto;
						padding:17px 18px 80px;
						//outline: 1px solid grey;
						background:url(../images/monitor.png) no-repeat 0 0;
						background-size:100% 100%;
						@include bp-small {width:90%;}
						@include bp-medium {width:50%; float:left;}
						@include bp-large {width:40%;}
						.slider {
							width: 100%;						
							overflow: hidden;
							//outline: 1px solid red;
							.move {
								position:relative;
								left:0;
								width:500%;
								@extend %clearfix;
								margin: 0;
								//outline: 1px solid blue;
								img {
									float:left;
									width: 20%;
									height: auto;			
								}
							}
						}
					}
					.heading {
						//outline: 1px solid grey;
						padding: 10px 0 20px;
						text-align: center;						
						color:#eee;
						@include bp-medium {
							width:50%; 
							float:right;
							padding-left:40px;
							text-align: left;
						}
						@include bp-large {width:60%;}
						@include bp-xlarge {padding-left:80px;}
						h1 {
							margin-top:0; 
							font-weight: bold;
							@include bp-medium {font-size:42px;margin-bottom:40px;}
							@include bp-xlarge {font-size:48px;}
						}
						a {
							color: #eee;
							padding:10px 20px;
							background-color:#000;
							@include transition(.5s ease all);
							&:hover {
								background-color: #fff;
								color:#000;
							}
						}
					}
				}
			}
			.main-article {
				background-color:#fff;
				.container {
					padding-top:30px;
					padding-bottom:30px;
					.art-left,.art-right {
						@include bp-medium {width:50%;float:left;}
					}
					.art-left {
						padding-right: 30px;
						h2 { @include bp-medium {margin-bottom:40px;} }
					}
					.art-right {
						div {
							@extend %clearfix;
							margin-bottom: 30px;
						}
						@extend %clearfix;
						h2 {color:#D52B1E;margin-top:0;}
						a {
							margin-right:30px;
							@include transition(.5s ease all);
							&:hover {@include opacity(.75)}
							@include bp-xlarge {float:left;}
						}						
					}
				}
			}
		}
		.services {
			background-color: #D0E69C;
		}
		.work {
			background-color: #80CBC4;
		}
		.about {
			background-color: #FFCC80;
		}
		.contacts {
			background-color: #BCAAA4;
		}
		.blog {
			background-color: #C5CAE9;
		}
	}
}