<div class="contacts">
	<div class="row contacts-heading">
		<div class="container">
			<h1>Connect with us</h1>
			<a href="#">
			<img src="images/facebook-a.png" width="27" height="27" alt="facebook"></a>
			<a href="#">
				<img src="images/twitter-a.png" width="27" height="27" alt="twitter"></a>
			<a href="#">
				<img src="images/linked-a.png" width="27" height="27" alt="linked"></a>
			<a href="#">
				<img src="images/vimeo-a.png" width="27" height="27" alt="vimeo"></a>
		</div>
	</div>

	<div class="row contacts-content">
		<div class="container">
			<form>
        <div class="f-group">
          <input class="f-input" type="text" required>
          <label class="f-label">Name</label>
        </div>
        <div class="f-group">
          <input class="f-input" type="text" required>
          <label class="f-label">Email</label>
        </div>
        <div class="f-group">
          <input class="f-input" type="text" required>
          <label class="f-label">Subject</label>
        </div>
        <div class="f-group t-area">
          <textarea class="f-textarea" required></textarea>
          <label class="f-label">Message</label>
        </div>
        <div class="f-button">
        	<button type="submit">SEND</button>
        </div>
      </form>
      <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>		
		</div>
	</div>
</div>
