<div class="container">
	<div class="address">
		<h3>Contact</h3>
		<p> 
			500 Terry Francois Street </br>
			San Francisco, CA 94158 </br>
			T: 123-456-7890 </br>
			F: 123-456-7890​ </br>
		</p>
		<p>info@mysite.com</p>
		<a href="https://facebook.com" target="_blank">
			<img src="images/facebook.png" width="45" height="45" alt="facebook"></a>
		<a href="https://twitter.com" target="_blank">
			<img src="images/twitter.png" width="45" height="45" alt="twitter"></a>
		<a href="https://www.linkedin.com" target="_blank">
			<img src="images/linked.png" width="45" height="45" alt="linked"></a>
		<a href="https://vimeo.com" target="_blank">
			<img src="images/vimeo.png" width="45" height="45" alt="vimeo"></a>
	</div>
	<div class="clients">
		<div>
			<h3>Clients</h3>
			<a href="#">
				<img src="images/client-1.jpg" width="85" height="85" alt="client-1">
			</a>
			<a href="#">
				<img src="images/client-2.jpg" width="85" height="85" alt="client-2">
			</a>
			<a href="#">
				<img src="images/client-3.jpg" width="85" height="85" alt="client-3">
			</a>
			<a href="#">
				<img src="images/client-4.jpg" width="85" height="85" alt="client-4">
			</a>
			<a href="#">
				<img src="images/client-5.jpg" width="85" height="85" alt="client-5">
			</a>
			<a href="#">
				<img src="images/client-6.jpg" width="85" height="85" alt="client-6">
			</a>
			<a href="#" class="hide">
				<img src="images/client-7.jpg" width="85" height="85" alt="client-7">
			</a>
			<a href="#" class="hide">
				<img src="images/client-8.jpg" width="85" height="85" alt="client-8">
			</a>
		</div>
	</div>
</div>
<div class="row btm-line">
	<div class="container">
		<p>© Digital Marketing 2015 by DD.</p>
	</div>
</div>