<div class="container">
	<div class="logo">
		<a href="#/">
		<img src="images/circle.png" width="94" height="92" alt="logo">
		</a>
		<a href="#/" class="lower">Digital Marketing</a>
		<button menu-btn><i class="material-icons">menu</i></button>
	</div>
	<nav class="topmenu">
		<ul>
			<li><a href="#" class="active">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Work</a></li>
			<li>
				<a href="#">About</a>
				<button pop><i class="material-icons">expand_more</i></button>
				<ul>
					<li><a href="#">Contact</a></li>
				</ul>
			</li>
			<li><a href="#">Blog</a></li>
		</ul>
	</nav>
</div>