<div class="container">
	<div class="logo">
		<a href="#/">
			<img src="images/circle.png" width="94" height="92" alt="logo">
		</a>
		<a href="#/" class="lower">Digital Marketing</a>
		<button menu-btn><i class="material-icons">menu</i></button>
	</div>
	<nav class="topmenu">
		<ul>
			<li><a ui-sref="/" ui-sref-active="active">Home</a></li>
			<li><a ui-sref="services" ui-sref-active="active">Services</a></li>
			<li><a ui-sref="work" ui-sref-active="active">Work</a></li>
			<li>
				<a ui-sref="about" ui-sref-active="active">About</a>
				<button pop><i class="material-icons">expand_more</i></button>
				<ul>
					<li><a ui-sref="contacts" ui-sref-active="active">Contact</a></li>
				</ul>
			</li>
			<li><a ui-sref="blog" ui-sref-active="active">Blog</a></li>
		</ul>
	</nav>
</div>