<div class="home">
	<div class="row monitor">
		<div class="container">
			<div class="heading">
				<h1>WE LIVE & <br/> BREATHE <br/> CREATIVITY</h1>
				<a ui-sref="work">View projects</a>
			</div>
			<div class="slide-holder">
				<div class="slider">
					<figure class="move">
	    			<img src="images/slider-1.jpg" width="388" height="258" alt="slide-img">
	    			<img src="images/slider-2.jpg" width="388" height="258" alt="slide-img">
	    			<img src="images/slider-3.jpg" width="388" height="258" alt="slide-img">
	    			<img src="images/slider-4.jpg" width="388" height="258" alt="slide-img">
	    			<img src="images/slider-1.jpg" width="388" height="258" alt="slide-img">
		    	</figure>
		    </div>
			</div>
		</div>
	</div>

	<div class="row main-article">
		<div class="container">
			<div class="art-left">
				<h2>We are a digital marketing & media agency.We are committed to meeting your company’s needs.</h2>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
			</div>
			<div class="art-right">
				<div>
					<a ui-sref="services"><img src="images/home-pic-1.jpg"></a>
					<h2>Digital Marketing</h2>
					<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
				</div>
				<div>
					<a ui-sref="services"><img src="images/home-pic-2.jpg"></a>
					<h2>Media Strategy</h2>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
				</div>
				<div>
					<a ui-sref="services"><img src="images/home-pic-3.jpg"></a>
					<h2>Consulting</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>	
		</div>
	</div>
</div>
