<div class="blog">
	<div class="row blog-heading">
		<div class="container">
			<h1>Blog</h1>
			<p>Things of interest</p>
		</div>
	</div>

	<div class="row blog-content">
		<div class="container">
		  	<!-- MAIN CONTENT -->
			<div class="content-left">

				<div class="article">
					<h3>{{articles[0].topic}}</h3>
					<p class="date">{{articles[0].date}}</p>
					<p class="text">{{articles[0].text}}</p>
					<div class="article-content" style="width:100%; float:none;">
						<img ng-src="images/{{articles[0].full}}" ng-show="articles[0].showImg">

						<video id="player" controls poster="{{articles[0].poster}}" ng-src="{{articles[0].videoPath}}" ng-show="articles[0].showVid">
							<p>Sorry. Video cannot be displayed</p> 	
					 	</video>
					</div>				
				</div>

			</div>
				<!--SECONDARY CONTENT-->
			<div class="content-right">
					<!-- 1st side post -->
				<div class="side-post">
					<h3>Featured Posts</h3>
					<div class="bestpost">

						<a ng-href="#/{{articles[0].id}}">
							<div>
								<img ng-src="images/{{articles[0].thumb}}" ng-show="articles[0].showImg">
								<video id="player" poster="{{articles[0].poster}}" ng-src="{{articles[0].videoPath}}" ng-show="articles[0].showVid">
									<p>Sorry. Video cannot be displayed</p> 	
							  </video>
							  <h4>{{articles[0].topic}}</h4>
							  <p class="date">{{articles[0].date}}</p>
							</div>
						</a>

					</div>
				</div> 
					<!-- 2nd side post -->
				<div class="side-post">
					<h3>Recent Posts</h3>
					<div class="recent"  ng-repeat="article in articles | reverse | limitTo:2">
						<a ng-href="#/{{article.id}}">
							<div>
								<img ng-src="images/{{article.thumb}}" ng-show="article.showImg">
								<video id="player" poster="{{article.poster}}" ng-src="{{article.videoPath}}" ng-show="article.showVid">									
									<p>Sorry. Video cannot be displayed</p> 	
							  </video>
							</div>
						  <h4>{{article.topic}}</h4>
						  <p class="date">{{article.date}}</p>
						</a>
					</div>
				</div>
					<!-- 3rd side post -->
				<div class="side-post">
					<div class="search">
						<h3>Search by tags</h3>
						<a href="#">photo</a>
						<a href="#">video</a>
						<a href="#">text</a>
					</div>
				</div>

				<div class="side-post">
					<div class="social">
						<h3>Follow us</h3>
						<a href="#"><img src="images/facebook-blog.png" width="23" height="23" alt=""></a>
						<a href="#"><img src="images/twitter-blog.png" width="23" height="23" alt=""></a>
						<a href="#"><img src="images/gplus-blog.png" width="23" height="23" alt=""></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
