<div class="services">
	<div class="row serv-heading">
		<div class="container">
			<h1>Services</h1>
			<p>Delivering powerful media & marketing solutions</p>
		</div>
	</div>

	<div class="row serv-info">
		<div class="container">
			<div>
				<img src="images/serv-pic-1.jpg" alt="pic1">
				<h3>Media Strategy</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>
			<div>
				<img src="images/serv-pic-2.jpg" alt="pic2">
				<h3>Digital Marketing</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>
			<div class="separator-1">&nbsp</div>
			<div>
				<img src="images/serv-pic-3.jpg" alt="pic3">
				<h3>Branding & Identity</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>
			<div class="separator-2">&nbsp</div>
			<div>
				<img src="images/serv-pic-4.jpg" alt="pic4">
				<h3>Social Marketing</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>
			<div class="separator-3">&nbsp</div>
			<div>
				<img src="images/serv-pic-5.jpg" alt="pic5">
				<h3>UX/Interactive Design</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>
			<div>
				<img src="images/serv-pic-6.jpg" alt="pic6">
				<h3>Content</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
			</div>										
		</div>
	</div>
</div>
