<div class="work">
	<div class="row work-heading">
		<div class="container">
			<h1>Latest work</h1>
			<p>View some of our recent work</p>
		</div>
	</div>

	<div class="row gallery">
		<div class="container">
			<div class="image-wrapper">
				<div class="image" ng-repeat="image in images | limitTo:counter">
					<img ng-src="images/{{image.id}}.jpg" alt="{{image.id}}">
					<div class="capture">
						<h4>Image header</h4> <!-- {{image.header}} -->
						<p>Image description</p> <!-- {{image.description}} -->
					</div>
				</div>
			</div>
			<div class="showmore" ng-show="linkVisible">
				<button ng-click="showMore()">Show more</button>
			</div>
		</div>
	</div>
</div>
