<div class="work">
	<div class="row work-heading">
		<div class="container">
			<h1>Latest work</h1>
			<p>View some of our recent work</p>
		</div>
	</div>

	<div class="row gallery">
		<div class="container">

			<div class="img-wrapper">
				<div class="thumb" ng-repeat="image in images | limitTo:counter">
					<a ng-href="images/{{image.full}}" data-lightbox="ourwork" data-title="{{image.header}} : {{image.description}}">
						<img ng-src="images/{{image.thumb}}" alt="">
						<span>
							<h4>{{image.header}}</h4> 	
							<p>{{image.description}}</p>
						</span>
					</a>
				</div>
			</div>

			<div class="showmore" ng-show="linkVisible">
				<button ng-click="showMore()">Show more</button>
			</div>
			
		</div>
	</div>
</div>
